<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instance</th>
      <th>Surface m<sup>2</sup></th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="3">No input data</th></tr>{{/data}}
    {{#data}}
    <tr>
      <th class="group-header" colspan="3">
        {{stairway}} / {{floor}} / Top: {{apt}}, Einheit: {{unit}} :-
        {{#summary}}
        Gesamt: <span class="highlight">{{surface}}</span> m<sup>2</sup>,
        Typ: <span class="highlight">{{type}}</span>,
        Zimmer: <span class="highlight">{{rooms}}</span>, <span class="highlight">{{roomsSurface}}</span> m<sup>2</sup>
        {{/summary}}
      </th>
    </tr>
    {{#content}}
    <tr>
      <td>{{room}}</td>
      <td>{{instance}}</td>
      <td>{{surface}}</td>
    </tr>
    {{/content}}
    {{/data}}
  </tbody>
</table>
