<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instance</th>
      <th>m2</th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="3">No input data</th></tr>{{/data}}
    {{#data}}
    <tr>
      <th class="group-header" colspan="3">{{stairway}} / {{floor}} / Top: {{apt}}, Einheit: {{unit}}</th>
    </tr>
    {{#content}}
    <tr>
      <td>{{room}}</td>
      <td>{{instance}}</td>
      <td>{{surface}}</td>
    </tr>
    {{/content}}
    {{/data}}
  </tbody>
</table>'
