<table class="table-striped">
  <thead>
    <tr>
      <th>Raumname CAD</th>
      <th>Anz. Vorkommen</th>
      <th>Ziel Spalte</th>
      <th>Beschreibung</th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="4">Keine Mapping Datei geladen</th></tr>{{/data}}
    {{#data}}
    <tr>
      <td>{{room}}</td>
      <td>{{instance}}</td>
      <td>{{column}}</td>
      <td>{{description}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>
