<table class="table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Instance</th>
      <th>Target Column</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="4">No mapping data</th></tr>{{/data}}
    {{#data}}
    <tr>
      <td>{{room}}</td>
      <td>{{instance}}</td>
      <td>{{column}}</td>
      <td>{{description}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>
