<table class="table-striped">
  <thead>
    <tr>
      <th>Wo</th>
      <th>Raumname CAD</th>
      <th>Anz. Vorkommen</th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="3">Keine Fehler beim Mapping</th></tr>{{/data}}
    {{#data}}
    <tr>
      <td>
      {{#item}}
      Stiege: {{stairway}} / Top: {{apt}}
      {{/item}}
      </td>
      <td>{{roomName}}</td>
      <td>{{instance}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>
