<table class="table-striped">
  <thead>
    <tr>
      <th>Where</th>
      <th>Name</th>
      <th>Instance</th>
    </tr>
  </thead>
  <tbody>
    {{^data}}<tr><th class="group-header" colspan="3">No mapping errors</th></tr>{{/data}}
    {{#data}}
    <tr>
      <td>
      {{#item}}
      Apt: {{stairway}} / {{apt}}
      Floor: {{floor}}
      Unit: {{unit}}
      {{/item}}
      </td>
      <td>{{room}}</td>
      <td>{{instance}}</td>
    </tr>
    {{/data}}
  </tbody>
</table>
